
    .mainPic {
        position: relative;
    }

    /* .img {
        max-width: 743px;
        max-height: 781px;
    } */

    .text {
        position: absolute;
        left: 50px;
        bottom: 10px;
        font-size: 24px;
        color: white;
        text-align: center;
        font-family: Helvetica Neue;
        line-height: 20rem;
        font-weight: 100px;
    }
    
    .btn {
        position: absolute;
        left: 50px;
        bottom: 75px;
        
    }
