 .wrapper {
   display: flex;
   flex-direction: column;
   gap: 2rem;
 }
 
 
 .img {
    position:absolute ;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1490px;
    max-height: 371.01px;
 }

 .title {
    position: relative;
    top: 3rem;
    left: 2rem;
    font-family: Nike Futura;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 48px;
    width: 90px;
    color: #ffffff;



 }

 .text {
    position: relative;
    top: 4rem;
    left: 2rem;
    color: #ffffff;
}

.btn {
   position: relative;
   top: 4rem;
   left: 2rem;
}