.wrapper {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
}

.pic {
    position: absolute;
    max-width: 600px;
    max-height: 620px;

   
}

.content{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    top: 32rem;
    left: 3rem;
}

.tag {
    font-size: 15px;
    color: #595959;
}

.text {
    font-size: 20px;
}