.wrapper {
    margin-top: 6rem;
    flex: 33.33%;
}

.pic_div {
    position: absolute;  
}

.pic {
    width: 100%;
}

.content{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    top: 32rem;
    left: 3rem;
}

.tag {
    font-size: 15px;
    color: #595959;
}

.text {
    font-size: 20px;
}