.footer {
    background-color: #000;
    width: 100%;
    height: 25rem;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    color: #fff;
    gap: 2rem;
    font-size: small;
}
.footerTop {
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
    color: #fff;
    gap: 2rem;
}

.ul_caps {
    color: #fff;
    text-transform: uppercase;
    line-height: 1.5rem;
    font-family: "Helvetica Neue";
    font-weight: 700;
    }

.div {
    line-height: 1.5rem;
}

a:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.buttfooter {
    display: flex;
    flex-direction: row;

}

.location {
    column-count: 2;
}

.info {
    column-count: 5;
}