.wrapper{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font: inherit;
    width: 33%;
}

.img {
    width: 420px;
    height: 420px;
}

.name {
    font-size: 14px;
    color: brown;
}

.price {
    color: grey;
}

.category {
    color: grey;
    font-size: 14px;
}

.tag {
    color: grey;
    font-size: 14px;
}
