.wrapper{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font: inherit;
}

.img {
    max-width: 547px;
    max-height: 547px;
}

.name {
    font-size: 14px;
    color: brown;
}

.price {
    color: grey;
}

.category {
    color: grey;
    font-size: 14px;
}

.tag {
    color: grey;
    font-size: 14px;
}

button {
    
}