


.btn {
        background-color:  black;
        border-radius:  30px;
        padding:  0;
        color:  white;
        font:  30px;
        line-height: 30px;
        font-weight: 200px;
        font-family:  Arial;
        width: 150px;
        height: 40px;
        text-align: center;
      }

 .btn:hover {
    transition: 0.3ms;
    opacity: 0.4;
  }
