.signIn {
    display: flex;
    flex-direction: column;
    padding: 7rem;
    gap: 2rem;
}

label {
    word-break: break-all;
    color: rgb(156, 156, 156);
    font-size: 24px;
    line-height: 40px;
    font-weight: 100;

}

input{
    
    height: 56px;
    border-radius: 8px;
    cursor: text;
}

input::before{
    color: chocolate;
}

::-webkit-input-placeholder {
    color: rgba(237, 16, 0, 0.823);
    padding: 0.5rem;
}

.inputBtn{
    background-color:  rgb(0, 0, 0);
    border-radius:  30px;
    padding:  0;
    color:  rgb(255, 255, 255);
    font:  30px;
    line-height: 30px;
    font-weight: 200px;
    font-family:  Arial;
    width: 150px;
    height: 40px;
    text-align: center;
}


.inputBtn:hover{
    transition: 0.3ms;
    opacity: 0.4;
}