

 .title {
      font-family: Nike Futura;
      text-fransform: uppercase;
      font-size: 72px;
      line-height: 60px;
      text-align: center;
      margin: 0 auto;
    },
      subtitle: {
      fontFamily: "Arial",
      textAlign: "center",
      marginTop: "2rem",
      text: "justify"
    },
      btn: {
        
        marginTop: "2rem",
        display: "flex",
        flexDirection: "row",
        justifyContent: "center",   
        alignItems: "center",
        
    },
      title2: {
        fontFamily: "Arial",
        fontSize: "24px",
        textHeight: "30px",
        fontWeight: "100",
        textAlign: "left",
        margin: "8px auto",
  
      },
      images: {
        marginTop: "2rem",
        display: "flex",
        flexDirection: "row",
        justifyItems: "center",
        alignItems: "center",
        gap: "15%",
        flex: "grow"
      },
      logo: {
      
      }
  